    body {
        margin: 0;
    }
    
    a {}
    
    .header {
        width: 100%;
        height: 90px;
        background-color: #fff;
        padding: 0 140px;
        box-sizing: border-box;
        display: flex;
        /* все элементы станут в ряд*/
        /* без флекса не работают нижние 2*/
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {}
    
    .links {
        display: flex;
    }
    
    .links_item {
        text-transform: capitalize;
        text-decoration: none;
        color: #6c6c6c;
        font-size: 20px;
        margin-right: 38px;
        transition: 0.4s;
    }
    
    .links_item_cont:hover {
        border-bottom: 3px solid blue;
    }
    
    .links_item:last-child {
        margin-right: 0;
    }
    
    .links_item_cont {
        display: flex;
        height: 90px;
        align-items: center;
        padding-top: 30px;
        margin-left: 20px;
        transition: 0.1s;
        box-sizing: border-box;
        transition: 0.2s;
        width: 100%;
    }
    
    .links_item_cont:first-child {
        margin-left: 0;
    }

    .banner{
        width: 100%;
        height: 482px;
        border: 1px solid red;
        background: url(../images/bg.png);
    }

   